* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 }

body{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
.container{
  height: 100vh;
}
 /* generali */

 a{
   text-decoration: none;
   color: #797b80;
 }

 a:hover{
   color: #fff;
 }

 ul{
   list-style: none;
 }

 .list_inline{
   display: flex;
 }

 .d-none{
   display: none;
 }

.p_top_40{
  padding-top: 40px;
}

/* colori */

.t_grey{
  color: #797b80;
}


/* sezione centrale */

/* upgrade_bar */

.upgrade_bar{
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: calc(100% - 50px);
  height: 80px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 12px;
}

.upgrade_bar a{
  color: #fff;
  border: 1px solid #fff;
  border-radius: 110px;
  padding: 15px 25px;
}
.upgrade_bar a:hover{
  padding: 17px 27px;
}

/* MAIN */

main{
  display: flex;
  height: calc(100vh - 80px);
}

.main_section{
  width: calc(100% - 50px);
  padding: 80px 20px 0 20px;
  overflow: auto;
  background-color: #141922;
}


/* menu sezione centrale */

.main_top_menu{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
  font-size: 14px;
}

.main_top_menu li{
  margin: 0 10px;
}
.main_top_menu li:first-child::after{
  content: "";
  display: block;
  width: 30px;
  margin: auto;
  border: 1px solid #adff2f;
  background-color: #adff2f;
}




/* sezioni musica */

.sezione_musica_text{
  margin-bottom: 30px;
}

.sezione_musica_text h2{
  color: #fff;
}

.sezione_musica_text p {
  font-size: 12px;
  color: #797b80;
  margin-top: 10px;
}

.list_songs{
  flex-wrap: wrap;
}
.list_songs li{
  width: calc((100% / 2) - 20px);
  text-align: center;
  margin: 0 10px;
}

.disc_img_wrapper{
  position: relative;
}
.disc_info_wrapper:hover{
  color: #797b80;
}

.disc_img_wrapper img{
  max-width: 100%;
  height: auto ;
}

.disc_img_wrapper .layout_disc{
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items:center;
  width: 100%;
  height: 100%;
}

.disc_img_wrapper .layout_disc span::after{
  display: none;
  content: "\f144";
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  font-size: 70px;
  color: #fff;
}

.disc_info_wrapper:hover span::after{
  display: block;
}

.disc_info_wrapper h3{
  font-size: 14px;
  color: #fff;
}
.disc_info_wrapper h4{
  font-size: 12px;
  margin-top: 10px;
}
.disc_info_wrapper h4:hover{
  color: #797b80;
}

/* sezione most wanted */

#artist_most_wanted .disc_info_wrapper img{
  border-radius: 50%;
}



/* footer */

.player{
  display: flex;
  height: 80px;
  color: #797b80;
  background-color: #282828;
}

/* player infos */

.player__info{
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.player__info h5{
  color: #fff;
}

.player__info img{
  width: 50px;
  height: 50px;
  margin: 0 10px;
}

.player__info__text{
  width: 40%;
  padding-right: 20px;
}

/* .player__info_buttons{
  padding-left: 30px;
} */

.player__info_buttons .heart:after{
  content: "\f004";
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  font-size: 15px;
  margin-right: 10px;
}
.player__info_buttons .folder:after{
  content: "\f07b";
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  font-size: 15px;
}

.player__info_buttons .heart:hover, .player__info_buttons .folder:hover{
  color: #fff;
}



/* player control */
.player__control{
  flex-grow: 2;
}

.player__control__button{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.player__control__button li{
  padding: 0 10px;
  text-align: center;
}
.player__control__button li a i{
  font-size: 16px;
  color: #fff;
}
.player__control__button li .play_button{
  font-size: 30px;
}
.player__control__button li .play_button:hover{
  font-size: 34px;
}

.player__control__button_li_play{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
}




/* ----- */
.player__control__bar{
 display: flex;
 justify-content: center;
 align-items: center;
 height: 30px;;
}

.player__control__bar .number{
  font-size: 10px;
}
.music_bar{
  width: 60%;
  height: 4px;
  background-color: #797b80;
  border-radius: 5px;
  margin: 0 10px;
}

.player__control .music_bar_inside{
  position: relative;
  display: block;
  width: 40px;
  height: 4px;
  background-color: #fff;
  border-radius: 5px;
}
.player__control .music_bar_inside:hover{
  background-color: #adff2f;
}

.player__control .music_bar_inside .bar_ball{
  display: none;
  width: 12px;
  height: 12px;
  position: absolute;
  top: -4px;
  right: -4px;
  background-color: #fff;
  border-radius: 50%;
}
.player__control .music_bar_inside:hover .bar_ball{
  display: block;
}


/* player sounds */
.player__sound{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
}

.player__sound .list_logo::before, .player__sound .screen_logo::before, .player__sound .sound_logo::before{
  content: "\f03a";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 15px;
  cursor: pointer;
  margin-right: 10px;
  color: #fff;
}
.player__sound .screen_logo::before{
  content: "\f108";
}
.player__sound .sound_logo::before{
  content: "\f028";
}

.player__sound .volume_bar{
  display: inline-block;
  width: 100px;
  height: 4px;
  background-color: #797b80;
  border-radius: 5px;
  margin-right: 10px;
}

.player__sound .volume_bar_inside{
  position: relative;
  display: block;
  width: 40px;
  height: 4px;
  background-color: #fff;
  border-radius: 5px;
}
.player__sound .volume_bar_inside:hover{
  background-color: #adff2f;
}

.player__sound .volume_bar_inside .bar_ball{
  display: none;
  width: 12px;
  height: 12px;
  position: absolute;
  top: -4px;
  right: -4px;
  background-color: #fff;
  border-radius: 50%;
}
.player__sound .volume_bar_inside:hover .bar_ball{
  display: block;
}


/* media screen */

@media screen and (max-width: 767px){

  .side_bar{
    display: none;
  }

  .side_bar_xs{
    display: flex;
    flex-direction: column;
    width: 50px;
    height: 100%;
    background-color: #000;
  }

  .logo{
    padding-top: 10px;
    text-align: center;
  }

  .logo a img{
    width: 35px;
  }

  .nav_top_xs{
    padding-top: 10px;
  }

  .nav_top_xs li{
    text-align: center;
  }
  .nav_top_xs a img{
    width: 30px;
    margin-bottom: 10px;
  }

  .side_bar_bottom{
    margin-top: auto;
    text-align: center;
  }

  .side_bar_bottom li{
    margin-bottom: 10px;
  }

  .side_bar_bottom .download_app{
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 5px;
  }

  .side_bar_bottom .img_profile{
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin-right: 5px;
    background-color: #797b80;
    border-radius: 50%;
  }
}


@media screen and (min-width: 768px){

  /* barra laterale */
  .side_bar_xs{
    display: none;
  }

  .side_bar{
    display: block;
    position: relative;
    height: 100%;
    width: 200px;
    color: #797b80;
    background-color: #000;
    font-size: 12px;
    overflow: hidden;
  }

  /* sezione LOGO */
  .side_bar .logo{
    height: 80px;
    padding-top: 10px;
    padding-left: 10px;
  }

  .side_bar .logo img{
    width: 150px;
    height: auto;
  }

  /* MENU SUPERIORE */

  .nav_top{
    height: 130px;
  }

  .aside_top_list li{
    padding-bottom: 10px;
    padding-left: 10px;
    border-left: 2px solid #000;
  }
  .aside_top_list li:first-child{
    border-left: 2px solid #adff2f;
  }

  .aside_top_list_logo{
    width: 30px;
    vertical-align: middle;
  }
  .aside_top_list_logo img{
    width: 100%;
  }


  /* nav bottom */
  .nav_bottom{
    height: calc(100% - 280px);
    padding-left: 10px;
  }

  .nav_bottom_info{
    height: 70px;
  }
  .nav_bottom_info h3{
    color: #fff;
  }

  .nav_bottom_info .new_playlist::before{
    content: "\f0fe";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 40px;
    color: #797b80;
    vertical-align: middle;
    margin-right: 10px;
  }

  .aside_bottom_list{
    overflow-y: auto;
    height: calc(100% - 70px);
  }
  .aside_bottom_list li{
    padding-bottom: 15px;
  }


  /* info account */

  .info_account{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 70px;
    width: calc(100% - 20px);
    margin: 0 10px;
    background-color: #000;
  }

  .info_account_top{
    padding-bottom: 5px;
  }

  .info_account_top img{
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 5px;
  }

  .info_account_bottom{
    padding-top: 10px;
    font-size: 14px;
  }

  .info_account_bottom img{
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin-right: 5px;
    background-color: #797b80;
    border-radius: 50%;
  }


  /* main */
  .main_section{
    width: calc(100% - 200px);
  }

  .upgrade_bar{
    width: calc(100% - 200px);
  }
}

@media screen and (min-width: 992px){
  .list_songs li{
    width: calc((100% / 4) - 20px);
    text-align: center;
  }
}

@media screen and (min-width: 1200px){
  .list_songs li{
    width: calc((100% / 6) - 20px);
    text-align: center;
  }

}
