* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 }


 /* generali */

 a{
   text-decoration: none;
 }

 ul{
   list-style: none;
 }

 .list_inline{
   display: flex;
 }


.container{
  height: 100vh;
  background-color: blue;
}


/* barra laterale */

.side_bar{
  position: relative;
  height: 100%;
  width: 250px;
  background-color: pink;
}
.nav_bar{
  overflow: hidden;
  height: calc(100% - 70px);
}

.nav_top{
  height: 80px;
}

.nav_bottom{
  height: calc(100% - 80px);
}

.nav_bottom_text{
  height: 50px;
}

.aside_list_playlist{
  overflow-y: auto;
  height: calc(100% - 50px);
}

.aside_bottom{
  position: absolute;
  left: 0;
  bottom: 0;
  height: 70px;
  width: 100%;
  background-color: grey;
}

/* sezione centrale */
.main_section{
  width: calc(100% - 250px);
  padding-top: 80px;
  overflow: auto;
  background-color: coral;
}

/* upgrade_bar */

.upgrade_bar{
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: calc(100% - 250px);
  height: 80px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.7);
}

/* MAIN */

main{
  display: flex;
  height: calc(100vh - 80px);
  background-color: yellow;
}

.main_top_menu{
  display: flex;
  justify-content: center;
  background-color: blue;
}

.list_songs{
  text-align: center;
}

.disc_img_wrapper{
  position: relative;
  height: 200px;
  width: 200px;

}
.disc_img_wrapper img{
  width: 100%;
  height: auto;
}
.disc_img_wrapper .layout_disc{
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items:center;
  width: 100%;
  height: 100%;
}



.disc_img_wrapper .layout_disc span::after{
  display: none;
  content: "\f144";
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  font-size: 70px;
  color: #fff;
}

.disc_info_wrapper:hover span::after{
  display: block;
}

/* footer */

.player{
  height: 80px;
  background-color: green;
}
