* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 }

 body{
   height: 100vh;
 }

.side_bar{
  display: flex;
  flex-direction: column;
  width: 50px;
  height: 100%;
  background-color: #000;
}

.logo{
  padding-top: 10px;
  text-align: center;
}

.logo a img{
  width: 35px;
}

.nav_top{
  padding-top: 10px;
}

.nav_top li{
  text-align: center;
}
.nav_top a img{
  width: 30px;
  margin-bottom: 10px;
}

.side_bar_bottom{
  margin-top: auto;
  text-align: center;
}

.side_bar_bottom li{
  margin-bottom: 10px;
}

.side_bar_bottom .download_app{
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: 5px;
}

.side_bar_bottom .img_profile{
  width: 25px;
  height: 25px;
  vertical-align: middle;
  margin-right: 5px;
  background-color: #797b80;
  border-radius: 50%;
}
